<div class="comment_write_container"></div>

<div class="comments_list_container"></div>

<body>
    <main>
        <div class="header">
            <div class="homeLogo"> <img src="../../public/img/h_slogan.png" alt="video-sharing-platform"></div>
            <div class="search_container">
                <form action="/search" method="POST" class="search" id="searchForm">
                    <label for="searchText">Search video:</label>
                    <input type="text" name="searchTerm" placeholder="Search Term" value="{{searchTerm}}"
                        class="full-width-input" id="searchText" />
                    <button type="submit">Search</button>
                </form>
                <div id="err" class="alert alert-danger errorMsg" hidden>Please type in valid search Term.</div>
            </div>
            <div class="nav_container">
                <div id="about">
                    <a href="about">about</a>
                </div>

                <div id="private" hidden>
                    <a href="private" name="nickname">Hello, {{nickname}}</a>
                </div>

                <div id="login" class="login_container">
                    <a href="login">login/signup</a>
                </div>

            </div>
        </div>

        <div class="video_title">
            {{#if data}}
            <p>{{data.title}}</p>
            <p>{{data.author}}</p>
            <p>{{data.playedNum}}</p>
            {{else}}
            <p>404 Not Found</p>
            {{/if}}

        </div>

        <div class="video_player">
            <video src="/files/videos/download/{{data.title}}" preload="auto" id="video" name="{{data.title}}" controls
                autoplay>

            </video>
        </div>

        <div id="reply">
            <form action="comments/{{data.id}}/{{1}}" method="GET" id="comments">
                <label for="wcomm">Comments: </label>
                <input id="wcomm" type="text" placeholder="show your ideas" name="comments" value="{{comments}}">
                <button type="submit">submit</button>
            </form>
            <div id="errCom"div class="alert alert-danger errorMsg" hidden> 

            </div>
        </div>

        <div class="comments_list" hidden>
            <ul>
                {{#if info}}
                {{#each info}}
                    <li> {{this.nickname}} : {{this.details}}</li>
                {{/each}}
                {{else}}
                <p>No comments for this video</p>
                {{/if}}
            </ul>
        </div>

    </main>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    
    <script src="/public/js/videos.js"></script>
    <script src="../../public/js/search.js"></script>
    <script src='../../public/js/login.js'></script>
    
    <footer class="team_info">
        Team2
    </footer>
</body>