<body>
    <main>
        <div class="header">
            <div class="homeLogo">
                <a href="/">
                    <img src="../../public/img/h_slogan.png" alt="video-sharing-platform">
                </a>
            </div>
        </div>

        <div class="wrap">
            <div class="wpn">
                <div class="form-data pos">
                    <div class="change">
                        <span id="login">login</span>
                        <span id="signup">sign up</span>
                    </div>
                    <div id="login_container">
                        <form action="/login" method="POST" class="loginForm" id='login-form'>
                            <div class="p-input pos">
                                <label for="login_name">username</label>
                                <input type="text" name="username" id="login_name" placeholder="username" value="{{username}}" />
                                <span id="errname" class="alert alert-danger errorMsg" hidden>Please provide valid
                                    username</span>
                            </div>
                            <div class="p-input pos">
                                <label for="login_pass">password</label>
                                <input type="password" name="password" id="login_pass" placeholder="password" value="{{password}}" />
                                <span id="errpass" class="alert alert-danger errorMsg" hidden>Please provide valid
                                    password</span>
                            </div>
                            <button type="submit"> login</button>
                        </form>
                        <div id="err1" class="alert alert-danger errorMsg" hidden>Please provide valid username/password
                        </div>
                    </div>

                    <div id="regi_container" hidden>
                        <form action="/registration" method="POST" class="regiForm" id='regi-form'>
                            <div class="p-input pos">
                                <label for="name">username </label>
                                <input type="text" name="username" id="name" placeholder="username" value="{{username}}" />
                                <span id="errnameR" class="alert alert-danger errorMsg" hidden>Please provide valid
                                    username</span>
                            </div>
                            <div class="p-input pos">
                                <label for="nickname">nickname</label>
                                <input type="text" name="nickname" id="nickname" placeholder="nickname" value="{{nickname}}" />
                                <span id="errnick" class="alert alert-danger errorMsg" hidden>Please provide valid
                                    nickname</span>
                            </div>
                            <div class="p-input pos">
                                <label for="pass">password</label>
                                <input type="password" name="password" id="pass" placeholder="password" value="{{password}}" />
                                <span id="errpassR" class="alert alert-danger errorMsg" hidden>Please provide valid
                                    password</span>
                            </div>
                            <div class="p-input pos">
                                <label for="c_pass">confirm password</label>
                                <input type="password" name="c_password" id="c_pass" placeholder="password" value="{{c_password}}" />
                                <span id="errpassC" class="alert alert-danger errorMsg" hidden>Please provide valid
                                    password</span>
                            </div>
                            <div class="p-input pos">
                                <label for="gender">gender</label>
                                <input type="text" name="gender" id="gender" placeholder="male/female" value="{{gender}}" />
                                <span id="errgen" class="alert alert-danger errorMsg" hidden>Please provide valid
                                    gender</span>
                            </div>
                            <div class="p-input pos">
                                <label for="email">email</label>
                                <input type="text" name="email" id="email" placeholder="email" value="{{email}}">
                                <span id="erremail" class="alert alert-danger errorMsg" hidden>Please provide valid
                                    email</span>
                            </div>
                            <button type="submit">sign up</button>
                        </form>
                        <div id="err2" class="alert alert-danger errorMsg" hidden>Please provide valid input</div>
                    </div>
                    <p class="right">Powered by © team2</p>
                </div>
            </div>
        </div>
    </main>




    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

    <script src='../../public/js/check.js'></script>
    <script src='../../public/js/login.js'></script>

    <footer class="team_info">
        Team2
    </footer>
</body>